.App-bg {
    background-color: #666666;
    background-image: url('https://i.pinimg.com/564x/41/6b/5d/416b5d8be9603c8544ac7fc49010df3b.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}