.contact-bg{
    height: max-content;
    background-color: #fffee5;
    background-image: url('https://i.pinimg.com/564x/53/63/1e/53631edab0252f621a4a6b5d4f9fc34c.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}